body {
    margin: 0;
    font-family: sans-serif;
}

.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.App .row:not(:last-of-type) {
    margin-bottom: 16px;
}

.timeout {
    width: 400px
}

.button {
    width: 500px;
    height: 50px;

    border: 1px solid gray;
    border-radius: 8px;

    font-size: 18px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.button:hover {
    cursor: pointer;
    background: lightgray;
}
